<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.profile_name %>
</p>

<p>
  <strong>Mobile num:</strong>
  <%= @profile.profile_mobile %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @profile.profile_adress %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.profile_birthday %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
