<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.last.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.last.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.last.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :menu_name %>
    <%= form.text_field :menu_name, id: :menu_menu_name %>
  </div>


  <div class="field">
    <%= form.label :menu_price %>
    <%= form.number_field :menu_price, id: :menu_menu_price %>
  </div>

  <div class="field">
    <%= form.label :menu_image %>
    <%= form.file_field :menu_image, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
  </div>

  <div class="field">
    <%= form.label :menu_category %>
    <%= form.text_field :menu_category, id: :menu_menu_category %>
  </div>
  <div class="field">
    <%= form.label :menu_state %>
    <%= form.text_field :menu_state, id: :menu_menu_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
