<%= form_with(model: menu, local: true, multipart: true) do |form| %>
  <% if menu.last.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.last.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.last.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="left-side">
      <img class="left-side-img" src="https://source.unsplash.com/category/people"></img>
      <div class="left-side-bg">
        <div class="company-name"><a href="#"><i class="material-icons">clear</i></a></span></div>  
      </div>
    </div>
    <div class="right-side">
      <div class="menu-register-container login-font">          
        <div class="box blurred-bg tinted">
          <p class="title">메뉴 등록</p>
          
          <div class="menu-register-information-container" >
            <div class="prompt-field">Menu</div>
            <%= form.text_field :menu_name, class: "input-field",placeholder: "메뉴를 입력해 주세요"  %>
            <div class="prompt-field">Price</div>
            <%= form.number_field :menu_price, class: "input-field",placeholder: "가격을 입력해주세요"  %>
            <div class="prompt-field">Category</div>
            <%= form.text_field :menu_category, class: "input-field",placeholder: "음식 종류를 입력해 주세요 ex)음료수, 튀김"  %>
            <div class="prompt-field">State</div>
            
          <%= form.select :menu_state, [['Best!', 'Best!'], ['Main', 'Main'], ['New', 'New'], ['없음', nil]], {}, {class: "input-field"} %>

            
            <div class="prompt-field">Image</div>
            <div class="form-group">
              <label class="label">
                
                <i class="material-icons">attach_file</i>
                <span class="img_title">Add Image</span>
               
                <input type="file" name = "menu[menu_image]" accept="image/png,image/gif,image/jpeg"/>
              </label>
            </div>
            <input type="submit"class="btn btn-default btn-register" value="등록"></input>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>