<p id="notice"><%= notice %></p>

<p>
  <strong>Truck name:</strong>
  <%= @truck.truck_name %>
</p>
<%= link_to '메뉴 등록', truck_menus_path(@truck) %>|
<%= link_to '포스팅 등록', new_truck_posting_path(@truck) %>
<div>
<% @menus.each do |menu| %>
      <tr>
        <td><%= menu.menu_state %></td>
        <td><%= menu.menu_name %></td>
        <td><%= menu.menu_price %></td>
        <td><%= menu.menu_image %></td>
        <td><%= menu.menu_category %></td>
    <% end %>
</div>
<p>
  <strong>Truck x:</strong>
  <%= @truck.truck_x %>
</p>

<p>
  <strong>Truck y:</strong>
  <%= @truck.truck_y %>
</p>

<p>
  <strong>Truck sns:</strong>
  <%= @truck.truck_sns %>
</p>

<p>
  <strong>Truck sns2:</strong>
  <%= @truck.truck_sns2 %>
</p>

<p>
  <strong>Truck phone:</strong>
  <%= @truck.truck_phone %>
</p>

<p>
  <strong>Truck cover:</strong>
  <%= @truck.truck_cover %>
</p>

<p>
  <strong>Truck category:</strong>
  <%= @truck.truck_category %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>


<%= form_for [@truck, @truck_review] do |r| %>
<%= r.label 'image' %>
<%= r.text_field :truck_review_image %>

<%= r.label 'review' %>
<%= r.text_field :truck_review_content %>

<%= r.submit %>
<% end %>

<% @truck_reviews.each do |r| %>
<div><%= r.user.nickname %>|<%= r.truck_review_image %><%= r.truck_review_content  %><%#= link_to '수정',review_path(r.id) %><%#= link_to "  |삭제",review_path(r.id), method: :delete %></div>

<% end %> 