<!DOCTYPE html>
<html>
  <head>
    <title>Gotruck</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <% if params[:controller] == 'trucks' %>
      <% if ['index', 'edit', 'new', 'recommend'].include? params[:action] %>
        <%= stylesheet_link_tag 'trucks_1', media: 'all' %>
      <% elsif ['show'].include? params[:action] %>
        <%= stylesheet_link_tag 'trucks_2', media: 'all' %>
      <% else %>
        <%= stylesheet_link_tag params[:controller], media: 'all' %>
      <% end %>
    <% else %>
      <%= stylesheet_link_tag params[:controller], media: 'all' %>
    <% end %>
    
    
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    

    <%= yield %>
    <%= yield 'javascript_content' %>
    
</html>
